# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Do not check in vendor directory,
# NB: Run 'go mod vendor' to generate vendor directory.
vendor
dist

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

Log